<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeCSuS</title>

    <script src="client/js/marked.min.js"></script>
    <script src="client/js/marked-plaintext.js"></script>
    <script src="client/js/timeago.min.js"></script>

    <script src="client/js/vue.js"></script>
<!--    <script src="client/js/materialize.js"></script>-->

<!--    <link rel="stylesheet" type="text/css" href="client/css/materialize.css" />-->
    <link rel="stylesheet" type="text/css" href="client/css/bulma.css" />
<!--    <link rel="stylesheet" type="text/css" href="client/necsus.css" />-->

    <!--
      TODO: Make this local-friendly by having a copy of the fonts. But at
      least we have string fallbacks :grimace:.
      -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

  </head>

  <body>
    <div id="necsus">
      <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <p class="navbar-item">
            <a href="/">NeCSuS</a>
              |
              {{ room }}
              |
              <span :title="websocketConnected ? 'Connected' : 'Disconnected'" @dblclick="kickWebSocket()">
                {{ websocketConnected ? '🟢' : '🔴'}}
              </span>
          </p>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <!-- Left part of navbar -->
          <div class="navbar-start"></div>

          <!-- Right part of navbar -->
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <div class="navbar-link">Docs</div>
              <div class="navbar-dropdown is-right">
                <a class="navbar-item" target="_blank" href="https://docs.google.com/document/d/1oc9wd0pRq0u19OOFDLk5njxTkp3etfgGf6mmATac6Qc/edit?usp=sharing">Simple bot tutorial</a>
                <a class="navbar-item" target="_blank" href="/docs">NeCSuS API docs</a>
                <a class="navbar-item" target="_blank" href="https://github.com/ncss/necsus/blob/master/README.md">NeCSuS README</a>
              </div>
            </div>
            <a class="navbar-item" @click="settings.open = !settings.open">Settings</a>
          </div>
        </div>
      </nav>

      <main class="columns">
        <section class="column" :class="settings.open ? 'is-half' : 'is-full'">
          <div id="messages-list">
            <div v-if="statePresent" id="replying">
              <button class="btn" @click="clearState()">
                <i class="material-icons">exit_to_app</i>&nbsp;
                <span>Leave Conversation with {{ replyToBotName }}</span>
              </button>
            </div>
            <div
              class="block media"
              :necsus-message-id="message.id"
              :class="messageClass(message)"
              v-for="message in displayMessages"
              :key="message.id"
            >
              <!-- Optional left content -->
              <div class="media-left"></div>
              <div class="media-content">
                <div class="content">
                  <b class="author">{{ message.author }}</b>
                  <span class="when">{{ message.displayTime }}</span>
                </div>
                <div class="content" v-html="message.text"></div>
                <div v-if="message.image" class="image">
                  <img v-bind:src="message.image" />
                </div>
                <div v-if="message.media" class="media">
                  <video controls="" autoplay="" name="media">
                    <source v-bind:src="message.media" type="audio/mpeg" />
                  </video>
                </div>
                <div
                  v-if="message.state != null && message.showState"
                  class="state-show-toggle"
                >
                  <a @click="toggleState(message)" href="#">hide state</a>
                </div>
                <div
                  v-if="message.state != null && !message.showState"
                  class="state-show-toggle"
                >
                  <a @click="toggleState(message)" href="#">show state</a>
                </div>
                <div
                  v-if="message.state != null && message.showState"
                  class="state"
                >
                  <code> {{ message.state }} </code>
                </div>
              </div>
            </div>
          </div>

          <div id="new-message" class="level">
            <div class="field">
              <p class="control">
                <button
                  class="button message-btn"
                  @click="listen()"
                  v-bind:disabled="sendingMessage"
                >
                  <i class="inline-icon material-icons">mic</i>
                </button>
              </p>
            </div>
            <div class="field">
              <div class="control is-expanded">
                <textarea
                  id="message-input"
                  class="textarea"
                  v-model="newMessage"
                  v-bind="{placeholder: 'Message '+ room}"
                  autofocus
                  v-bind:rows="rows()"
                  v-bind:disabled="sendingMessage"
                  @keydown.enter.exact.prevent
                  @keyup.up="newMessageHistoryMove(1)"
                  @keyup.down="newMessageHistoryMove(-1)"
                  v-on:keyup.enter.exact="submitMessage(newMessage)"
                ></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button
                  class="button message-btn"
                  @click="submitMessage(newMessage)"
                  v-bind:disabled="sendingMessage"
                >
                  <i
                    class="inline-icon material-icons"
                    :disabled="sendingMessage"
                    >send</i
                  >
                </button>
              </div>
            </div>
            <div class="progress" v-if="sendingMessage">
              <div class="indeterminate"></div>
            </div>
          </div>
        </section>

        <section id="settings" v-if="settings.open" class="column is-half">
          <div class="panel">
            <p class="panel-heading">General settings</p>
            <div class="panel-block">
              <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Name</label>
                </div>
                <div class="field-body">
                  <div class="control">
                    <input class="input" id="name" name="name" v-model="settings.name" />
                  </div>
                </div>
              </div>
            </div>
            <label class="panel-block">
              <input
                class="filled-in"
                id="speech"
                name="speech"
                type="checkbox"
                v-model="settings.speech"
                @click="autoUpdate"
              />
              Speech synthesis enabled?
            </label>
            <div class="panel-block" v-if="!clearRoomShow">
              <button id="clear-room" class="button is-outlined is-fullwidth" v-if="!clearRoomShow" @click="clearRoomShow = true">
                Clear room
              </button>
            </div>
            <div class="panel-block" v-if="clearRoomShow">
              <div class="field has-addons is-horizontal">
                <p class="control is-expanded">
                  <input class="input" id="confirm-clear-room-input" name="confirm-clear-room" v-model="clearRoomConfirm">
                </p>
                <p class="control">
                  <button
                    class="button is-danger"
                    id="confirm-clear-room"
                    v-if="clearRoomShow"
                    :disabled="clearRoomConfirm.toUpperCase() != room.toUpperCase()"
                    @click="clearRoom()"
                  >
                    Clear
                  </button>
                </p>
                <p class="help">Enter room name ({{ room }}) to confirm deletion of chat history:</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <span class="card-title">Bots</span>
              <div class="collection">
                <div class="collection-item row">
                  <div class="col s6">
                    <button
                      class="btn btn-wide modal-trigger"
                      @click="modals.copy_conf_modal.open()"
                    >
                      <i class="material-icons">content_copy</i>&nbsp;
                      <span>Download Room</span>
                    </button>
                  </div>
                  <div class="col s6">
                    <button
                      class="btn btn-wide"
                      @click="modals.paste_conf_modal.open()"
                    >
                      <i class="material-icons">content_paste</i>&nbsp;
                      <span>Upload Room</span>
                    </button>
                  </div>
                </div>
                <div class="collection-item" v-for="bot in bots">
                  <a @click="removeBot(bot)" href="#" class="secondary-content">
                    <i class="material-icons">delete</i>
                  </a>
                  <label for="bot-name">Name</label>
                  <input
                    name="bot-name"
                    v-model="bot.name"
                    @change="submitBot(bot)"
                  />

                  <label for="bot-responds-to">Responds to</label>
                  <input
                    name="bot-responds-to"
                    v-model="bot.responds_to"
                    @change="submitBot(bot)"
                  />

                  <label for="bot-url">Endpoint URL</label>
                  <input
                    name="bot-url"
                    v-model="bot.url"
                    @change="submitBot(bot)"
                  />
                </div>
                <div class="collection-item">
                  <button class="btn btn-wide" @click="addBot()">
                    <i class="material-icons">add</i>&nbsp;
                    <span>Add A Bot...</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <div ref="copy_conf_modal" id="copy_conf_modal" class="modal">
        <div class="modal-content">
          <h4>Download Bot Configuration</h4>
          <p>
            Press the buttons below to download the bots in this room, or copy
            the text.
          </p>
          <div class="row">
            <div class="col s6">
              <button class="btn btn-wide" @click="download(bots)">
                <i class="material-icons">download</i>&nbsp;
                <span>Download File</span>
              </button>
            </div>
            <div class="col s6">
              <button class="btn btn-wide" @click="copy_to_clipboard(bots)">
                <i class="material-icons">content_copy</i>&nbsp;
                <span>Copy to Clipboard</span>
              </button>
            </div>
          </div>
          <p>
            Or, copy the text below and paste it into another room to import it there.
          </p>
          <pre>
{{ get_exportable_text(bots) }}
          </pre>
          <div class="row">
            <div class="col s12">
              <button class="btn btn-wide modal-close">
                <span>Done</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div ref="paste_conf_modal" id="paste_conf_modal" class="modal">
        <div class="modal-content">
          <h4>Upload Bot Configuration</h4>
          <div v-if="!importing.importBots">
            <p>Either upload a JSON file containing your configuration, or paste the text in.</p>
            <input type="file" id="import_selector" ref="import_selector">
            <div class="spacer"></div>
            <ul class="collection" v-if="importing.errors">
              <li v-for="e in importing.errors" class="collection-item red lighten-2">
                <i class="material-icons">error_outline</i>&nbsp;
                <span>{{ e }}</span>
              </li>
            </ul>
            <label for="import-text">Paste Bot Configuration Here</label>
            <textarea :disabled="importing.importBots" v-model="importing.text" id="import-text" ref="import_text" class="materialize-textarea"></textarea>
            <button class="btn btn-wide" @click="validateBots">
              <i class="material-icons">import_export</i>&nbsp;
              <span>Import Configuration</span>
            </button>
          </div>
          <div v-else>
            <hr/>
            <h5>Existing Bots</h5>
            <table>
              <thead>
                <tr>
                    <th>Keep Bot</th>
                    <th>Name</th>
                    <th>Responds To</th>
                    <th>URL</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="bot in importing.installedBots">
                  <td>
                    <label>
                      <input v-model="bot.doImport" class="filled-in" type="checkbox" />
                      <span></span>
                    </label>
                  </td>
                  <td>{{ bot.name }}</td>
                  <td><code>{{ bot.responds_to }}</code></td>
                  <td><a :href="bot.url"><code>{{ bot.url }}</code></a></td>
                </tr>
              </tbody>
            </table>

            <h5>New Bots</h5>
            <table>
              <thead>
                <tr>
                    <th>Add Bot</th>
                    <th>Name</th>
                    <th>Responds To</th>
                    <th>URL</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="bot in importing.importBots" :class="{'identical-bot': bot.isIdentical}">
                  <td>
                    <label v-if="!bot.isIdentical">
                      <input v-model="bot.doImport" class="filled-in" type="checkbox" />
                      <span></span>
                    </label>
                  </td>
                  <td>{{ bot.name }}</td>
                  <td><code>{{ bot.responds_to }}</code></td>
                  <td><a :href="bot.url"><code>{{ bot.url }}</code></a></td>
                </tr>
              </tbody>
            </table>
            <p v-if="importing.importBots.some((b) => b.isIdentical)">
              Note that any greyed-out bots are already present in the room and
              will not be imported twice. To remove the bot completely, uncheck
              it from the "existing bots" table.
            </p>
            <div class="row">
              <div class="col s6">
                <button class="btn btn-wide danger modal-close">
                  <i class="material-icons">cancel</i>&nbsp;
                  <span>Cancel</span>
                </button>
              </div>
              <div class="col s6">
                <button class="btn btn-wide" @click="installBots">
                  <i class="material-icons">done</i>&nbsp;
                  <span>Install Bots</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="client/necsus.js"></script>
  </body>
</html>
