<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NeCSuS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="client/necsus.css">
  </head>

  <body>
    <div id="necsus">
      <div id="header-space">
      </div>

      <header>
        <div id="title">
          <h1 id="main-title">NeCSuS</h1>
          <h2 id="room">{{ room }}</h2>
        </div>
      </header>

      <div id="controls">
        <button v-on:click="settings.open = !settings.open" v-text="settings.open ? 'close settings' : 'open settings'"></button>
      </div>

      <div id="settings" v-bind:class="{open: settings.open, closed: !settings.open}">
        <section>
          <h3>Main</h3>

          <label for="name">Name</label>
          <input id="name" name="name" v-model="settings.name">

          <label for="speech">Speech synthesis</label>
          <input id="speech" name="speech" type="checkbox" v-model="settings.speech" @click="autoUpdate">
        </section>

        <section>
          <h3>Bots</h3>

          <section v-for="bot in settings.bots">
            <label for="bot-name">Name</label>
            <input id="bot-name" name="bot-name" v-model="bot.name" @change="submitBot(bot)">

            <label for="bot-responds-to">Responds to</label>
            <input id="bot-responds-to" name="bot-responds-to" v-model="bot.responds_to" @change="submitBot(bot)">

            <label for="bot-url">Endpoint URL</label>
            <input id="bot-url" name="bot-url" v-model="bot.url" @change="submitBot(bot)">

            <button @click="removeBot(bot)">remove bot</button>
          </section>

          <button @click="addBot()">add bot</button>
        </section>
      </div>

      <section id="messages">
        <div id="messages-list">
          <div id="messages-spacer"></div>
          <article class="message" v-for="message in messages">
            <h4 class="author">{{ message.author }}</h4>
            <p v-for="paragraph in lines(message.text)" v-text="paragraph"></p>
          </article>
        </div>

        <div id="new-message">
          <textarea id="message-input" v-model="newMessage" v-bind="{placeholder: 'Message '+ room}" 
            v-bind:rows="rows()" v-bind:disabled="sendingMessage"
            @keydown.enter.exact.prevent v-on:keyup.enter.exact="submitMessage(newMessage)"></textarea>
          <button @click="listen()" v-bind:disabled="sendingMessage">listen</button>
          <button @click="submitMessage(newMessage)" v-bind:disabled="sendingMessage">submit</button>
        </div>
      </section>
    </div>

    <script src="client/necsus.js"></script>
  </body>
</html>
