body {
  padding: 0px;
  margin: 0px;
}

/*
* Header
*/

main {
  padding-left: 2vw;
  padding-right: 2vw;
}

/*
* Element Layout
*/

#bot-responds-to {
  font-family: monospace;
}

#messages {
  display: flex;
  flex-direction: column;
}

#new-message {
  display: flex;
  background: white;
  position: sticky;
  bottom: 0;
}

#messages-list {
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 80vh;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#messages-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

#spacer {
  padding-top: 1vh;
}

.message {
  margin-bottom: 1ex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1ex;
}

.author {
  float: left;
  width: 80%;
}

.state-show-toggle {
  margin-top: 10px;
  font-size: 0.7em;
  text-align: right;
}

.state-show-toggle a,
.state-show-toggle a:visited {
  color: #aaa;
}

.when {
  float: right;
  text-align: right;
  width: 20%;
  color: #999;
  font-size: 12px;
}

.message .content {
  clear: both;
  /* Wrap long lines. */
  word-break: break-all;
}

.message .image img {
  max-width: 800px;
}

.message .state {
  margin: 5px;
  padding: 5px;

  background: #333;
  color: #ddd;
}

#new-message #message-input {
  width: 100%;
}

/*
* Element Style
*/

#settings.open {
  display: block;
}
#settings.closed {
  display: none;
}

#settings::-webkit-scrollbar,
#messages-list::-webkit-scrollbar {
  -webkit-appearance: none;
}
#settings::-webkit-scrollbar-track,
#messages-list::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
#settings::-webkit-scrollbar-thumb,
#messages-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, .6);
}
#settings::-webkit-scrollbar:vertical,
#messages-list::-webkit-scrollbar:vertical {
    width: 11px;
}
#settings::-webkit-scrollbar:horizontal,
#messages-list::-webkit-scrollbar:horizontal {
    height: 11px;
}

.message-card {
  padding-x: 1vw;
  padding-y: 1vh;
}

.inline-icon {
  font-size: 1.5em;
}
