:root {
  --gray-accent: #ededed;
  --light-gray-accent: #f9f9f9;
  --nav-height: 3.25rem;
}

/* Layout */
nav.navbar {
  height: var(
    --nav-height
  ); /* Fix height so that we can use a calc to determine message list vheight */
}
#chat-column {
  /* You may not have seen 'dvh' before, this is a special invention of Apple to deal with their own
     mess of the floating address bar at the bottom of the iPhone. What Apple giveth Apple taketh away.
     https://webkit.org/blog/12445/new-webkit-features-in-safari-15-4/#solving-pain-points
  */
  height: calc(
    100dvh - var(--nav-height)
  ); /* All vertical space aside from header. */
  display: flex; /* Display elements in a column, we will flex-grow the message list. */
  flex-direction: column;
}
#messages-list {
  flex-grow: 1;
}
#settings {
  height: calc(100dvh - var(--nav-height));
  overflow: auto;
  background-color: var(--light-gray-accent);
}

.card-header {
  background-color: var(--gray-accent);
}

#bot-list .card-content {
  border: 1px solid var(--gray-accent);
}

.message-left {
  align-self: flex-start;
}

.message-right {
  align-self: flex-end;
}

.message-card:last-child {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.kind-system,
.kind-system > div {
  background-color: var(--gray-accent);
}

/* Utility class for hiding scrollbars. */
.no-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages-list {
}

/* For the bot import dialog. */
tr.identical-bot {
  background-color: var(--light-gray-accent);
}

.auto-scroll {
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  background: #F5F5F5FF;
  padding: 4px 4px 4px 16px;
}

.auto-scroll-text {
  padding-left: 16px;
}